<ion-item lines="none" (click)="goToRequestDetail()">
  <div class="thumb" slot="start" >
    <img src="assets/imgs/icn-packing.svg" alt="">
  </div>
  <ion-label>
    <h2>{{request.idCategoryName}}</h2>
    <p class="description ion-text-wrap">{{request.name}}
  </ion-label>
  <div class="thumb" slot="end" *ngIf="!request.isArchived && !request.isFinished">
      <div class="btn-holder">
        <ion-button expand="block" color="success" (click)="goToChat($event)">
          CHAT
        </ion-button>
      </div>
  </div>
</ion-item>
