
<!--<ion-header class="ion-no-border">-->
  <!--<ion-toolbar>-->
    <!--<ion-buttons slot="start">-->
      <!--<ion-back-button defaultHref="requestresponse"></ion-back-button>-->
    <!--</ion-buttons>-->
    <!--<ion-title>Chat</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content>-->


          <app-message-input (message)="sendMessage($event)"></app-message-input>

        <div class="message-area">
          <div class="message" *ngFor="let response of responses">
            <app-response [response]="response"></app-response>
          </div>
        </div>

<!--</ion-content>-->
