<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src="assets/imgs/icn-menu.svg">
            </ion-menu-button>
        </ion-buttons>
        <ion-title>My Help Offers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="order-list animate__animated animate__bounceInUp">
        <ion-item lines="none" (click)="goToChat('pending')">
            <div class="thumb" slot="start">
                <img src="assets/imgs/female.png" alt="">
            </div>
            <ion-label>
                <ion-row>
                    <ion-col size="6" class="ion-no-padding">
                        <h2>Assembling furniture</h2>
                    </ion-col>
                    <ion-col size="6" class="ion-text-right ion-no-padding">
                        <ion-button>
                            Chat
                        </ion-button>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <p class="description ion-text-wrap">Your order number <span>#20200502010</span> Delivered. You
                            marked it as completed
                        </p>
                    </ion-col>
                </ion-row>
            </ion-label>
        </ion-item>

        <ion-item lines="none" (click)="goToChat()">
            <div class="thumb" slot="start">
                <img src="assets/imgs/female.png" alt="">
            </div>
            <ion-label>
                <ion-row>
                    <ion-col size="6" class="ion-no-padding">
                        <h2>Move bed</h2>
                    </ion-col>
                    <ion-col size="6" class="ion-text-right ion-no-padding">
                        <ion-button>
                            Chat
                        </ion-button>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <p class="description ion-text-wrap">Your order number <span>#20200502010</span> Delivered. You
                            marked it as completed
                        </p>
                    </ion-col>
                </ion-row>
            </ion-label>
        </ion-item>

        <ion-item lines="none" (click)="goToChat()">
            <div class="thumb" slot="start">
                <img src="assets/imgs/male.png" alt="">
            </div>
            <ion-label>
                <ion-row>
                    <ion-col size="6" class="ion-no-padding">
                        <h2>Buy groceries</h2>
                    </ion-col>
                    <ion-col size="6" class="ion-text-right ion-no-padding">
                        <ion-button color="danger">
                            Withdraw offer
                        </ion-button>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <p class="description ion-text-wrap">Your order number <span>#20200502010</span> Delivered. You
                            marked it as completed
                        </p>
                    </ion-col>
                </ion-row>
            </ion-label>
        </ion-item>

        <ion-item lines="none" (click)="goOrderDetails('completed')">
            <div class="thumb" slot="start">
                <img src="assets/imgs/male.png" alt="">
            </div>
            <ion-label>
                <ion-row>
                    <ion-col size="6" class="ion-no-padding">
                        <h2>Personal Assistant</h2>
                    </ion-col>
                    <ion-col size="6" class="ion-text-right ion-no-padding">
                        <ion-button color="danger">
                            Withdraw offer
                        </ion-button>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <p class="description ion-text-wrap">Your order number <span>#20200502010</span> Delivered. You
                            marked it as completed
                        </p>
                    </ion-col>
                </ion-row>
            </ion-label>
        </ion-item>
    </div>
</ion-content>
