<ion-item lines="none" (click)="goToRequestDetail()">
    <div class="thumb" slot="start" >
        <img src="assets/imgs/icn-packing.svg" alt="">
    </div>
    <ion-label>
        <h2>{{request.idCategoryName}}</h2>
        <p class="description ion-text-wrap">{{request.name}}
    </ion-label>
    <div class="thumb" slot="end" *ngIf="!request.isArchived && !request.isFinished">
        <ng-container *ngIf="hasHelpers$ | async as hasHelpers">
            <div class="btn-holder" *ngIf="hasHelpers">
                <ion-button expand="block" color="success" (click)="goToChat($event)">
                    CHAT
                </ion-button>
            </div>
            <ng-container *ngIf="!hasHelpers">
                <ion-label>
                    <h2>Waiting for a helper</h2>
                </ion-label>
                <ion-progress-bar type="indeterminate"></ion-progress-bar>
            </ng-container>
        </ng-container>
    </div>
</ion-item>
