<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src="assets/imgs/icn-menu.svg">
            </ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <h1 *ngIf="!isHelper">
                Get help
            </h1>
            <h1 *ngIf="isHelper">
                Offer help
            </h1>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-toggle color="success" [(ngModel)]="isHelper"></ion-toggle>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <ng-container *ngIf="isHelper; else getHelp">
       <app-offerhelp></app-offerhelp>
   </ng-container>
    <ng-template #getHelp>
        <app-gethelp></app-gethelp>
    </ng-template>
</ion-content>
