<p>
    response works!

    {{response.message}}  PARENT: {{response.idResponseMessage}}

    <button (click)="showResponse = !showResponse">Respond</button>
    <ng-container *ngIf="showResponse">
        <app-message-input (message)="createNewResponse($event)" [placeholder]="'Write your response here...'"></app-message-input>
    </ng-container>

</p>
<div class="row" style="padding-left: 10%;" *ngIf="response.childResponses && response.childResponses.length > 0">
    <div class="col-12" *ngFor="let item of response.childResponses">
        <app-response [response]="item"></app-response>
    </div>

</div>
